<section class="content">
  <div class="header">
    <h5><Strong>Ingreso de datos del empleado</Strong></h5>
  </div>
  <hr>
  <br>
  <div class="row">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nombre del Empleado</mat-label>
      <input matInput type="text" [(ngModel)]="name">
    </mat-form-field>

  </div>
 
  <div class="row">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Puesto del empleado</mat-label>
      <mat-select placeholder="Elige un puesto">
        <mat-option *ngFor="let puesto of puestos" (ngModel)="puesto">
          {{puesto}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-label>¿Ha sido vacunado contra el COVID-19?</mat-label>
    <br>
    <br>
    <mat-radio-group aria-label="¿Ha sido vacunado contra el COVID-19?">
      <mat-radio-button (click)="vaccine('yes')" color="primary" value="si">Si</mat-radio-button>
      <mat-radio-button (click)="vaccine('no')" checked color="primary" value="no">No</mat-radio-button>
    </mat-radio-group>

  </div>
  <div class="row" *ngIf="flagVaccine">
    <br>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nombre de vacuna</mat-label>
      <mat-select placeholder="Elige una vacuna">
        <mat-option *ngFor="let puesto of puestos" (ngModel)="puesto">
          {{puesto}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-label>¿Dosis administradas?</mat-label>
    <br>
    <br>
    <mat-radio-group aria-label="¿Ha sido vacunado contra el COVID-19?">
      <mat-radio-button (click)="vaccineDossis(1)" color="primary" checked value="1">Una</mat-radio-button>
      <mat-radio-button (click)="vaccineDossis(2)" color="primary" value="2">Dos</mat-radio-button>
    </mat-radio-group>
  </div>
  <br>
  <div class="row" *ngIf="flag1calendar">
    <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>First campaign</mat-label>
        <mat-date-range-input
          [rangePicker]="campaignOnePicker">
          <input matStartDate placeholder="Start date" formControlName="start">
          <input matEndDate placeholder="End date" formControlName="end">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
        <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
      </mat-form-field>
    </div>
      <div class="row" *ngIf="flag2calendar">
         
        <mat-form-field class="example-form-field lm-2" appearance="fill">
            <mat-label>Second campaign</mat-label>
            <mat-date-range-input
              
              [rangePicker]="campaignTwoPicker">
              <input matStartDate placeholder="Start date" formControlName="start">
              
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="campaignTwoPicker"></mat-datepicker-toggle>
            <mat-date-range-picker #campaignTwoPicker></mat-date-range-picker>
          </mat-form-field>
      </div>
      
 
  <div class="row">
    <br>
    <button disbled="'name.length()>0'" mat-raised-button color="primary" (click)="agregarUsuario()">
      <mat-icon>add</mat-icon>Agregar Empleado
    </button>
  </div>
</section>
